@media (width <= 960px){
    .opanimation{
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(to left, #fc3bcc, #ff0059);
        z-index: 200;
        ul{
            position: absolute;
            list-style-type: none;
            display: flex;
            margin: 0;
            padding: 0;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            li{
                img{
                    height: 6vh;
                }
            }
        }
    }
}
@media (width >= 961px){
    .opanimation{
        position: fixed;
        width: 100vw;
        height: 100vh;
        background: linear-gradient(to left, #fc3bcc, #ff0059);
        z-index: 200;
        ul{
            position: absolute;
            list-style-type: none;
            display: flex;
            margin: 0;
            padding: 0;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            li{
                img{
                    height: 12vh;
                }
            }
        }
    }
}