@media (width <= 960px){
}
@media (width >= 961px){
    .kinou{
        position: relative;
        ul{
            display: flex;
            list-style-type: none;
            margin: 0;
            padding: 0;
            li:nth-child(1){
                width: 45%;
                img{
                    width: 100%;
                }
            }
            li:nth-child(2){
                width: 55%;
                p:nth-child(1){
                    font-size: 1.7rem;
                    font-weight: bold;
                }
                p{
                    font-size: 1.4rem;
                }
            }
        }
        >img{
            position: absolute;
            z-index: -100;
        }
        #bgimg2{
            width: 100%;
            top: 0;
        }
        #supotukarenda{
            width: 300px;
        }
    }
}