@media (width <= 960px) {
  .introduction {
    background-color: #bf0000;
    margin-top: -1px;
    padding: 70px 0 120px 0;
    ul {
      position: relative;
      margin: 0;
      padding: 0;
      list-style-type: none;
      text-align: center;
      li {
        line-height: 40px;
        font-size: 1.2rem;
        font-weight: bold;
        color: #fff;
        font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'Arial', sans-serif;
      }
      li:nth-child(6) {
        background: linear-gradient(to left, #f4ff5a, #ffd500);
        display: inline-block;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }
    }
    .downloadbtn {
      width: 100%;
      margin: 0 auto;
      padding-top: 30px;
      display: flex;
  flex-direction: column;
      a {
        text-align: center;
        height: 59.31px;
        padding-top: 30px;
        img {
          width: 180px;
          border-radius: 8.5px;
        }
        > img:hover {
          box-shadow: #404040 0px 5px 5px;
        }
      }
    }
  }
}
@media (width >= 961px) {
  .introduction {
    position: relative;
    background-color: #bf0000;
    margin-top: -1px;
    padding: 120px 0 120px 0;
    ul {
      position: relative;
      margin: 0;
      padding: 0;
      list-style-type: none;
      text-align: center;
      li {
        font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'Arial', sans-serif;
        line-height: 50px;
        font-size: 1.7rem;
        font-weight: bold;
        color: #fff;
      }
      li:nth-child(6) {
        background: linear-gradient(to left, #f4ff5a, #ffd500);
        display: inline-block;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
      }
    }
    .downloadbtn {
      width: 470px;
      margin: 0 auto;
      padding-top: 60px;
      a {
        padding: 0 25px;
        img {
          height: 58px;
          border-radius: 8.5px;
        }
        > img:hover {
          box-shadow: #404040 0px 5px 5px;
        }
      }
    }
  }
}
