@media (width <= 960px){
}
@media (width >= 961px){
    .maincontent{
        position: relative;
        div{
            z-index: -100;
            position: sticky;
            top: 0;
            width: 100%;
            height: 100vh;
            background-color: #eee;
            #mainmvimg1{
                position: absolute;
                width: 20%;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%) rotate(-9deg);
                opacity: 0.3;
            }
        }
        ul{
            margin: 0;
            padding: 0;
            display: flex;
            // li{
            //     width: 50%;
            // }
        }
    }
}