@media (width <= 960px){
    .kyatti{
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
        ul{
            list-style-type: none;
            display: flex;
            margin: 0;
            padding: 0;
            transform: skewx(-20deg);
            bottom: 0;
            li{
                font-size: 2.5rem;
                font-weight: bold;
                color: #fff;
                padding: 0 2px;
            }
            #masuku1{
                position: absolute;
                background-color: #fff;
                width: 399px;
                height: 93px;
                transform-origin: right 50%;
                margin-left: -8px;
            }
            #masuku2{
                position: absolute;
                background-color: #fff;
                width: 437px;
                height: 91px;
                transform-origin: 100% 50%;
                margin-left: -10px;
            }
        }
        .zenhan{
            bottom: 96px;
            li:nth-child(3){
                margin-top: 0;
                background: linear-gradient(to left, #ffee00, #ffd500);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }
            li:nth-child(4){
                background: linear-gradient(to left, #f4ff5a, #ffee00);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }
        }
        .kouhan{
            margin-top: -18px;
            padding-left: 50px;
            li:nth-child(6){
                margin-left: -14px;
            }
        }
    }
}
@media (width >= 961px){
    .kyatti{
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 100;
        ul{
            list-style-type: none;
            display: flex;
            margin: 0;
            padding: 0;
            transform: skewx(-20deg);
            bottom: 0;
            li{
                font-size: 4.5rem;
                font-weight: bold;
                color: #fff;
                padding: 0 2px;
            }
            #masuku1{
                position: absolute;
                background-color: #fff;
                width: 399px;
                height: 93px;
                transform-origin: right 50%;
                margin-left: -8px;
            }
            #masuku2{
                position: absolute;
                background-color: #fff;
                width: 437px;
                height: 91px;
                transform-origin: 100% 50%;
                margin-left: -10px;
            }
        }
        .zenhan{
            bottom: 96px;
            li:nth-child(3){
                margin-top: 0;
                background: linear-gradient(to left, #ffee00, #ffd500);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }
            li:nth-child(4){
                background: linear-gradient(to left, #f4ff5a, #ffee00);
                -webkit-background-clip: text;
                background-clip: text;
                color: transparent;
            }
        }
        .kouhan{
            margin-top: -18px;
            padding-left: 125px;
            li:nth-child(6){
                margin-left: -14px;
            }
        }
    }
}



