@media (width <= 960px){
    .footer2{
        display: none;
    }
    .footer1{
        text-align: center;
        background-color: #bf0000;
        padding: 120px 0 0 0;
        >a img{
            width: 170px;
        }
        .footerdownloadbtn{
            padding-top: 30px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            a{
                img{
                    width: 180px;
                    border-radius: 8.5px;
                    padding-top: 30px;
                }
                img:hover {
                    box-shadow: #404040 0px 5px 5px;
                }
            }
        }
        div{
            padding-top: 60px;
            ul{
                display: flex;
                list-style-type: none;
                justify-content: center;
                margin: 0;
                padding: 0;
                li{
                    position: relative;
                    padding: 0 20px;
                    a{
                        font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'Arial', sans-serif;
                        text-decoration: none;
                        color: #fff;
                    }
                }
                li::before{
                    content: '';
                    position: absolute;
                    top: 47%;
                    left: -8px;
                    background-color: #fff;
                    width: 15px;
                    height: 1.5px;
                    transform: translateY(-50%) rotate(-70deg);
                }
                .listnone1::before{
                    display: none;
                }
                .listnone2::before{
                    display: none;
                }
            }
        }
        .supokaresns{
            padding-top: 60px;
            a{
                padding: 0 20px;
                img{
                    height: 45px;
                }
            }
        }
        p{
            font-size: 0.7rem;
            margin: 0;
            padding: 60px 0 25px 0;
        }
    }
}
@media (width >= 961px){
    .footer1{
        display: none;
    }
    .footer2{
        background-color: #bf0000;
        padding: 120px 60px 50px 60px;
        >ul{
            margin: 0;
            padding: 0;
            display: flex;
            list-style-type: none;
            li:nth-child(1){
                div{
                    display: flex;
                    ul{
                        margin: 0;
                        padding: 0;
                        list-style-type: none;
                        li{
                            padding: 0 30px 10px 0;
                            width: 160px;
                            a{
                                font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'Arial', sans-serif;
                                font-size: 1rem;
                                text-decoration: none;
                                color: #fff;
                            }
                        }
                    }
                }
                .supokaresns{
                    a{
                        img{
                            height: 50px;
                            padding: 25px 30px 0 0;
                        }
                    }
                }
                p{
                    margin: 0;
                    font-size: 0.8rem;
                    width: 307px;
                    padding: 35px 60px 0 0;
                }
            }
            li:nth-child(2){
                position: relative;
                width: 100%;
                >div{
                    position: absolute;
                    text-align: center;
                    top: 50%;
                    left: 42%;
                    transform: translateX(-50%) translateY(-50%);
                    >a{
                        img{
                            width: 300px;
                        }
                    }
                    .footerdownloadbtn{
                        display: flex;
                        padding-top: 35px;
                        a{
                            padding: 0 25px;
                            img{
                                height: 58px;
                            }
                        }
                    }
                }
            }
        }
    }
}