// @media (width <= 960px){
//     .koe2{
//         display: none;
//     }
//     .koe1{
//         .paneru1{
//             ul{
//                 list-style-type: none;
//                 margin: 0;
//                 padding: 0 0 35px 0;
//                 li{
//                     width: 280px;
//                     height: 455px;
//                     margin: 0 auto;
//                     position: relative;
//                     box-shadow: #3b3b3b 2px 2px 3px;
//                     border-radius: 10px;
//                     #yuzakoe1,#yuzakoe2,#yuzakoe3{
//                         width: 100%;
//                         border-radius: 10px 10px 0 0;
//                     }
//                     h3{
//                         padding: 40px 0;
//                         text-align: center;
//                         font-size: 1.4rem;
//                         font-weight: bold;
//                         color: #bf0000;
//                         margin: 0;
//                     }
//                     p{
//                         padding: 0 30px 65px 30px;
//                         font-size: 1.2rem;
//                         margin: 0;
//                     }
//                     #supotumaku1,#supotumaku2,#supotumaku3{
//                         position: absolute;
//                         width: 70px;
//                         right: 8%;
//                         bottom: 0;
//                         transform: translateY(50%);
//                     }
//                 }
//             }
//         }
//     }
// }
// @media (width >= 961px){
//     .koe1{
//         display: none;
//     }
//     .koe2{
//         .paneru2{
//             display: flex;
//             justify-content: center;
//             ul{
//                 list-style-type: none;
//                 margin: 0 27px 35px 27px;
//                 padding: 0;
//                 width: 25%;
//                 li{
//                     position: relative;
//                     background-color: #fff;
//                     margin: 0;
//                     width: 100%;
//                     height: 100%;
//                     border-radius: 10px;
//                     box-shadow: #3b3b3b 2px 2px 3px;
//                     #yuzakoe1,#yuzakoe2,#yuzakoe3{
//                         width: 100%;
//                         border-radius: 10px 10px 0 0;
//                     }
//                     h3{
//                         padding: 40px 0;
//                         text-align: center;
//                         font-size: 1.4rem;
//                         font-weight: bold;
//                         color: #bf0000;
//                         margin: 0;
//                     }
//                     p{
//                         padding: 0 30px 65px 30px;
//                         font-size: 1.2rem;
//                         margin: 0;
//                     }
//                     #supotumaku1,#supotumaku2,#supotumaku3{
//                         position: absolute;
//                         width: 70px;
//                         min-width: 60px;
//                         right: 8%;
//                         bottom: 0;
//                         transform: translateY(50%);
//                     }
//                 }
//             }
//         }
//     }
// }

.waon{
    img{
        width: 200px;
    }
}

.mySwiper{
    width: 200px;
    height: 400px;
}
.swiper-slide{
    border-radius: 32px;
}